body{
}

.flightRowContainer{
    padding: 2px;
    border: 1px solid #d2dfe2;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 6px;
}

.flightRow{
    background-color: #fbfaf9;
    padding: 2px;
    border-left: 3px solid #d8d8d8;
    margin-bottom: 3px;
}

.flightRow .caption{
    font-size: small;
    font-family: verdana;
    display: initial;
    padding-right: 10px;
 }