<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Sky Scanner Search API test</title>
    <link href="static/index/css/bootstrap.css" rel="stylesheet">
    <link href="static/index/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/index/css/index.css" rel="stylesheet">
    <style>
        .smile {
            left: -17px;
            position: absolute;
            top: 6px;
        }
    </style>
    <script>
        var serverAddress = '{{ serverAddress }}';

    </script>
</head>

<body>
<div class="container" ng-app="sky.scanner.App">

    <div class="masthead">
        <h3 class="muted">Sky Scanner Search API test</h3>

        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <div class="smile">
                            <img  src="https://logos.skyscnr.com/images/airlines/favicon/EZ.png"
                                  alt="sky scanner" title="sky scanner" style="width: 22px;height: 24px;">
                        </div>
                        <li>
                            <a href="/#search">Search</a>
                        </li>
                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.navbar -->
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <div ui-view></div>
    </div>

</div>

<!--scrips-->
<script src="/static/index/js/angular.min.js"></script>
<script src="/static/index/js/angular-resource.min.js"></script>
<script src="/static/index/js/angular-ui-router.min.js"></script>
<script src="/static/index/js/angular-messages.min.js"></script>
<script src="/static/index/app/app.js"></script>
<script src="/static/index/app/search/searchService.js"></script>
<script src="/static/index/app/search/searchCtrl.js"></script>


<!--jquery-->
<script src="static/index/js/jquery.js"></script>
<script src="static/index/js/bootstrap-transition.js"></script>
<script src="static/index/js/bootstrap-alert.js"></script>
<script src="static/index/js/bootstrap-modal.js"></script>
<script src="static/index/js/bootstrap-dropdown.js"></script>
<script src="static/index/js/bootstrap-scrollspy.js"></script>
<script src="static/index/js/bootstrap-tab.js"></script>
<script src="static/index/js/bootstrap-tooltip.js"></script>
<script src="static/index/js/bootstrap-popover.js"></script>
<script src="static/index/js/bootstrap-button.js"></script>
<script src="static/index/js/bootstrap-collapse.js"></script>
<script src="static/index/js/bootstrap-carousel.js"></script>
<script src="static/index/js/bootstrap-typeahead.js"></script>

</body>
</html>
