<div class='searchForm'>
    <div ng-if="loading">
        <div>
            Loading...
        </div>
    </div>
    <div  class="flightRowContainer" ng-repeat="item in pagedItems" >
        <div class="flightRow">
            <div class="caption" ><span class="label">Outbound</span></div>
            <div class="caption">
                <img src="/static/index/img/departures.png">
                {{item.out_departure_date}}
            </div>
            <div class="caption">
                <img src="/static/index/img/arrival.png">
                {{item.out_arrival_date}}
            </div>
            <div class="caption">
                <strong>Duration</strong>: {{item.out_duration}}
            </div>
            <div class="caption">
                <strong>Stops</strong>: {{item.out_stops}}
            </div>
            <div class="caption">
                <strong>Flight No</strong>: {{item.out_flight_number}}
            </div>
        </div>
        <div class="flightRow">
            <div class="caption" ><span class="label">Inbound</span></div>
            <div class="caption">
                <img src="/static/index/img/departures.png">
                {{item.in_departure_date}}
            </div>
            <div class="caption">
                <img src="/static/index/img/arrival.png">
                {{item.in_arrival_date}}
            </div>
            <div class="caption">
                <strong>Duration</strong>: {{item.in_duration}}
            </div>
            <div class="caption">
                <strong>Stops</strong>: {{item.in_stops}}
            </div>
            <div class="caption">
                <strong>Flight No</strong>: {{item.in_flight_number}}
            </div>
        </div>
    </div>
</div>
